body{
  font-family: "Roboto", sans-serif;
  color:#2e2f42;
  background-color:#ffffff;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

/* styles head */
.logo{
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio{
  color: #2e2f42;
}

.menu{
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }
 .menu-item{
  color: #2e2f42;
 }
 .menu-item:hover, .menu-item:active{
  color: #404bbf;
 }
.contacs{
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacs-link{
  color: #2e2f42;
}
.contacs-link:hover, .contacs-link:focus{
  color: #404bbf;
} 

/* styles hero */
.hero{
  background: #2e2f42;
 }
h1{
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}
.hero-button{
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
 }
 .hero-btn:hover{
  background: #404bbf;
 }

 /* styles section 1 */
.advantages-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; 
  letter-spacing: 0.02em;
}
 .advantages-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* styles section 2 */
.team-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
 }
.team-caption{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
.team-worker{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* styles section 3 */
.projects-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.projects-card{
  background: #fff;

}
.projects-card-caption{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.projects-card-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* styles footer */
footer{
  background: #2e2f42;
}
.footer-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-logo-studio{
  color: #f4f4fd;
}
